<a href="https://colab.research.google.com/github/schap101/MPM02.H2101/blob/main/Beach_Volley.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
!pip install pandasql
import pandasql as ps

url = ['https://raw.githubusercontent.com/BigTimeStats/beach-volleyball/master/data/full_archive/full_archive.csv']       

df = pd.read_csv(url[0], index_col=None, header=0, encoding = "latin-1")

df.head(5)

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.10.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=bff7c3316bbcddf42da9b4c0b10a7c1a6c704a5f97dea179ee4521fae780c675
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

  circuit        tournament  ... l_p2_tot_blocks  l_p2_tot_digs
0     AVP  Huntington Beach  ...             1.0            NaN
1     AVP  Huntington Beach  ...             0.0            NaN
2     AVP  Huntington Beach  ...             0.0            NaN
3     AVP  Huntington Beach  ...             0.0            NaN
4     AVP  Huntington Beach  ...             1.0            NaN

[5 rows x 65 columns]

In [ ]:
df

      circuit        tournament  ... l_p2_tot_blocks  l_p2_tot_digs
0         AVP  Huntington Beach  ...             1.0            NaN
1         AVP  Huntington Beach  ...             0.0            NaN
2         AVP  Huntington Beach  ...             0.0            NaN
3         AVP  Huntington Beach  ...             0.0            NaN
4         AVP  Huntington Beach  ...             1.0            NaN
...       ...               ...  ...             ...            ...
81227    FIVB           Itapema  ...             NaN            NaN
81228    FIVB           Itapema  ...             NaN            NaN
81229    FIVB           Itapema  ...             NaN            NaN
81230    FIVB           Itapema  ...             NaN            NaN
81231    FIVB           Itapema  ...             NaN            NaN

[81232 rows x 65 columns]

In [ ]:
list(df.columns.values)

['circuit',
 'tournament',
 'country',
 'year',
 'date',
 'gender',
 'match_num',
 'w_player1',
 'w_p1_birthdate',
 'w_p1_age',
 'w_p1_hgt',
 'w_p1_country',
 'w_player2',
 'w_p2_birthdate',
 'w_p2_age',
 'w_p2_hgt',
 'w_p2_country',
 'w_rank',
 'l_player1',
 'l_p1_birthdate',
 'l_p1_age',
 'l_p1_hgt',
 'l_p1_country',
 'l_player2',
 'l_p2_birthdate',
 'l_p2_age',
 'l_p2_hgt',
 'l_p2_country',
 'l_rank',
 'score',
 'duration',
 'bracket',
 'round',
 'w_p1_tot_attacks',
 'w_p1_tot_kills',
 'w_p1_tot_errors',
 'w_p1_tot_hitpct',
 'w_p1_tot_aces',
 'w_p1_tot_serve_errors',
 'w_p1_tot_blocks',
 'w_p1_tot_digs',
 'w_p2_tot_attacks',
 'w_p2_tot_kills',
 'w_p2_tot_errors',
 'w_p2_tot_hitpct',
 'w_p2_tot_aces',
 'w_p2_tot_serve_errors',
 'w_p2_tot_blocks',
 'w_p2_tot_digs',
 'l_p1_tot_attacks',
 'l_p1_tot_kills',
 'l_p1_tot_errors',
 'l_p1_tot_hitpct',
 'l_p1_tot_aces',
 'l_p1_tot_serve_errors',
 'l_p1_tot_blocks',
 'l_p1_tot_digs',
 'l_p2_tot_attacks',
 'l_p2_tot_kills',
 'l_p2_tot_errors',
 'l_p2_tot_hitpct',
 'l_p2_tot_aces',
 'l_p2_tot_serve_errors',
 'l_p2_tot_blocks',
 'l_p2_tot_digs']